<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <link rel="stylesheet" href="/public/css/user.css">
  <h2>Esta es la ruta de usuario</h2>
  <form action="/user" method="post" enctype="multipart/form-data">
  <input type="file" name="avatar" />
</form>

  {{{body}}}
</body>
</html>